# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# vim plugins handled by vundle
.vim/bundle
!.vim/bundle/vundle

